@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    font-family: Fredoka;
    color: rgba(0, 0, 0, .8);
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.site-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(204, 154, 16, 0.808);
    color: #fff; 
}

.left-section h1 {
    margin: 0; 
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section span {
    margin-right: 10px; 
}

.logo-madrid {
    width: 100px; 
    height: auto;
    border-radius: 15%;
}

.municipality-form {
    width: 80%;
    max-width: 550px; 
    margin: 0 auto; 
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.checkbox-item {
    display: flex;
    margin-bottom: 7px;
}

label {
    display: inline-block; 
    margin-bottom: 10px; 
    vertical-align: middle;
    font-size: 20px;
}

input[type="checkbox"] {
    display: inline-block; 
    margin-right: 15px; 
    vertical-align: middle;
}

.district-study-link {
    display: inline-block;
    padding: 10px 20px; /* Espaciado interno */
    background-color: #09a349; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    white-space: nowrap;
    font-size: 18px;
}

.district-study-link:hover {
    background-color: #13b443be; /* Cambiar color de fondo al pasar el ratón por encima */
}

.submit-button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 18px;
    margin-bottom: 20px;
}

.submit-button:hover {
    background-color: #0056b3; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    padding-left: 20px;
}

.container-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    padding-left: 20px;
    margin-bottom: 30px;
}

.content-left h2 {
    padding-left: 60px; 
}

.content-left {
    display: inline-block;
    
}

.image-right {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.image-right img {
    width: 550px; /* Cambia el ancho de la imagen según lo necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 15px;
}

.main-footer {
    margin-top: 10px;
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
    width: 100%; /* Asegurar que el pie de página ocupe todo el ancho */
}

.main-footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.footer-text {
    display: inline-block; 
    margin-right: 10px; 
}

.logo-footer {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
}

.container-question {
    width: 90%; /* Ajusta el ancho según sea necesario */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px; /* Ajusta el relleno según sea necesario */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total */
}

.slider-container {
    border-bottom: thick double #e02ac2c4;;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}

.question-item {
    padding-right: .5em;
}

.question-label {
    width: 70%;
}

.slider-wrapper {
    width: 250px;
    display: flex; /* Hacer que los elementos estén en línea */
    align-items: center; /* Alinear verticalmente al centro */
    position: relative;
}

.slider-wrapper input[type="range"] {
    width: 100%;
}

.value-left,
.value-middle,
.value-right {
    position: absolute;
    bottom: -10px; /* Ajusta esta distancia según sea necesario */
}

.value-left {
    left: 0;
}

.value-middle {
    left: 50%;
    transform: translateX(-50%);
}

.value-right {
    right: 0;
}

.title-type {
    margin: 0;
    font-family: Oswald;
    font-weight: bold;
    font-size: 1.5em;
}

.tour-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Permite que las filas se ajusten automáticamente */
    justify-content: space-between;
}

.tour-row {
    width: calc(25% - 20px); /* El ancho de cada columna */
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 20px; /* Espacio entre las filas */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y la altura */
    padding: 10px; /* Añade un poco de espacio interno */
    position: relative; /* Permite el posicionamiento absoluto */
}

.tour-header {
    font-weight: bold;
    color: #555; /* Color de texto de encabezado */
}

.tour-item {
    display: block;
    margin-bottom: .5em; /* Espacio entre los elementos */
    text-align: center; /* Centra el texto */
}

/* Estilo para el elemento progress */
progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-top: 0; /* Espacio entre la barra de progreso y el texto */
}

/* Estilo para el texto dentro del elemento progress */
.weighted-sum-item {
    position: absolute; /* Posicionamiento absoluto para centrar */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Color de texto */
}

.restart-form {
    padding-top: 2em;
    text-align: center;
}
.restart-button {
    background-color: #e91010c7; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 18px;
    margin-bottom: 20px;
}

.restart-button:hover {
    background-color: #b43636e0; 
}

.results-title {
    text-align: center;
}

.importance-title {
    margin-bottom: 20px;
    font-family: Oswald;
    font-weight: bold;
    font-size: 2.25em;
    text-decoration: underline;
}

.home-image {
    float: left;
    height: 300px;
    width: auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 0;
    border-radius: 10%;
}

.content-section {
    margin: 1em;
}

.container-home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.section-header {
    margin-bottom: 20px;
    font-family: Oswald;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
}

.text-home { 
    text-align: justify;
    margin-left: 40px;
}

.styled-link {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: #000; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima del enlace */
    margin: 10px;
}

.styled-link:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor sobre él */
}







