<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Group</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h2>Please, select which type of municipality you are interested in:</h2>
    <form action="/select_importance" method="post" onsubmit="return validateForm()">
        <label>Municipalities divided by population:</label><br>
        <input type="checkbox" id="group1" name="group" value="1">
        <label for="group1">Group 1: Municipalities with inhabitants between 60 and 2.700</label><br>
        <input type="checkbox" id="group2" name="group" value="2">
        <label for="group2">Group 2: Municipalities with inhabitants between 2.800 and 39.000</label><br>
        <input type="checkbox" id="group3" name="group" value="3">
        <label for="group3">Group 3: Municipalities with inhabitants between 50.000 and 210.000</label><br><br>
        <a href="/madrid">Do you want to live in Madrid? Press here to have a district study</a><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>



