<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Importance - Extra</title>
</head>
<body>
    <h2>Select Importance - Extra</h2>
    <form action="/final_results_extra" method="post">
        <label for="private_education">Select from 1 to 100 the importance of private education:</label>
        <input type="number" id="private_education" name="private_education" min="1" max="100" required><br><br>

        <label for="public_education">Select from 1 to 100 the importance of public education:</label>
        <input type="number" id="public_education" name="public_education" min="1" max="100" required><br><br>

        <label for="libraries">Select from 1 to 100 the importance of libraries:</label>
        <input type="number" id="libraries" name="libraries" min="1" max="100" required><br><br>

        <label for="foreigner_student">Select from 1 to 100 the importance to presence of international students:</label>
        <input type="number" id="foreigner_student" name="foreigner_student" min="1" max="100" required><br><br>

        <label for="special_student">Select from 1 to 100 the importance to presence of students with special needs:</label>
        <input type="number" id="special_student" name="special_student" min="1" max="100" required><br><br>




        <label for="accidentes">Select from 1 to 100 the importance of road safety:</label>
        <input type="number" id="accidentes" name="accidentes" min="1" max="100" required><br><br>

        <label for="detenidos">Select from 1 to 100 the importance presence of arrested people:</label>
        <input type="number" id="detenidos" name="detenidos" min="1" max="100" required><br><br>

        <label for="policia">Select from 1 to 100 the importance of interventions of the police in the area:</label>
        <input type="number" id="policia" name="policia" min="1" max="100" required><br><br>




        <label for="total_population">Select from 1 to 100 the importance of total population (the more importance the higher the population):</label>
        <input type="number" id="total_population" name="total_population" min="1" max="100" required><br><br>

        <label for="density">Select from 1 to 100 the importance of density (hab/m2) (the more importance the lower the density):</label>
        <input type="number" id="density" name="density" min="1" max="100" required><br><br>

        <label for="women">Select from 1 to 100 the importance to presence of women:</label>
        <input type="number" id="women" name="women" min="1" max="100" required><br><br>

        <label for="foreigners">Select from 1 to 100 the importance to presence of foreigners:</label>
        <input type="number" id="foreigners" name="foreigners" min="1" max="100" required><br><br>

        <label for="young">Select from 1 to 100 the importance to presence of young people:</label>
        <input type="number" id="young" name="young" min="1" max="100" required><br><br>

        <label for="highEduc">Select from 1 to 100 the importance to presence of people with high education:</label>
        <input type="number" id="highEduc" name="highEduc" min="1" max="100" required><br><br>




        <label for="sport_greenareas">Select from 1 to 100 the importance to presence of sport facilities and green areas:</label>
        <input type="number" id="sport_greenareas" name="sport_greenareas" min="1" max="100" required><br><br>

        <label for="espectaculos">Select from 1 to 100 the importance to presence of cultural spaces and shows:</label>
        <input type="number" id="espectaculos" name="espectaculos" min="1" max="100" required><br><br>

        <label for="residuos">Select from 1 to 100 the importance of garbage collection services:</label>
        <input type="number" id="residuos" name="residuos" min="1" max="100" required><br><br>

        <label for="vulnerabilidad">Select from 1 to 100 the importance to position in vulnerability ranking:</label>
        <input type="number" id="vulnerabilidad" name="vulnerabilidad" min="1" max="100" required><br><br>

    



        <label for="añoConstruccion">Select from 1 to 100 the importance to year of construction of houses:</label>
        <input type="number" id="añoConstruccion" name="añoConstruccion" min="1" max="100" required><br><br>

        <label for="good_houses">Select from 1 to 100 the importance of the quality status of houses:</label>
        <input type="number" id="good_houses" name="good_houses" min="1" max="100" required><br><br>

        <label for="houses">Select from 1 to 100 the importance to presence of houses per inhabitant:</label>
        <input type="number" id="houses" name="houses" min="1" max="100" required><br><br>

        <label for="size">Select from 1 to 100 the importance to size of houses (m2, rooms, baths):</label>
        <input type="number" id="size" name="size" min="1" max="100" required><br><br>

        <label for="general_features">Select from 1 to 100 the importance to quality of general features (lift, parking space, low flat if applies):</label>
        <input type="number" id="general_features" name="general_features" min="1" max="100" required><br><br>

        <label for="new_development">Select from 1 to 100 the importance to presence of houses of new development:</label>
        <input type="number" id="new_development" name="new_development" min="1" max="100" required><br><br>

        <label for="price">Select from 1 to 100 the importance of price of houses (total and per m2):</label>
        <input type="number" id="price" name="price" min="1" max="100" required><br><br>

        <label for="chalets">Select from 1 to 100 the importance to presence of chalet (if low, flats and similar are benefited):</label>
        <input type="number" id="chalets" name="chalets" min="1" max="100" required><br><br>




        <label for="centros">Select from 1 to 100 the importance to presence of clincs, hospitals:</label>
        <input type="number" id="centros" name="centros" min="1" max="100" required><br><br>

        <label for="mayores">Select from 1 to 100 the importance to presence of social services, nursing homes and home assistants:</label>
        <input type="number" id="mayores" name="mayores" min="1" max="100" required><br><br>

        <label for="otherCentros">Select from 1 to 100 the importance to presence of other specialized centers (drugs detox, alzheimer...):</label>
        <input type="number" id="otherCentros" name="otherCentros" min="1" max="100" required><br><br>





        <label for="bicis">Select from 1 to 100 the importance to biciMad service (bikes,stops):</label>
        <input type="number" id="bicis" name="bicis" min="1" max="100" required><br><br>

        <label for="metro">Select from 1 to 100 the importance to presence of public transport stops (metro):</label>
        <input type="number" id="metro" name="metro" min="1" max="100" required><br><br>





        <label for="paro">Select from 1 to 100 the importance to presence of people without work:</label>
        <input type="number" id="paro" name="paro" min="1" max="100" required><br><br>

        <label for="pension">Select from 1 to 100 the importance to quality of pensioners (average income):</label>
        <input type="number" id="pension" name="pension" min="1" max="100" required><br><br>

        <label for="renta">Select from 1 to 100 the importance to average income:</label>
        <input type="number" id="renta" name="renta" min="1" max="100" required><br><br>

        <label for="locales">Select from 1 to 100 the importance to presence of commercial premises:</label>
        <input type="number" id="locales" name="locales" min="1" max="100" required><br><br>   

        <input type="submit" value="Submit">
    </form>
</body>
</html>

