<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Importance - Extra</title>
    <link rel="stylesheet" href="static/styles.css" />
</head>
<body>
    <header class="site-header">
        <div class="left-section">
            <h1>Madrid Zone Selector - Select Importance</h1>
        </div>
        <div class="right-section">
            <span>Comunidad de Madrid</span>
            <img class="logo-madrid" src="../static/logoMadrid.png" alt="LogoMadrid">
        </div>
    </header>

    <div class="container-question">
        <form action="/final_results_extra" method="post">
            <span class="title-type">Education</span>
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="private_education">Select from 1 to 100 the importance of private education:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="private_education" name="private_education" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="public_education">Select from 1 to 100 the importance of public education:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="public_education" name="public_education" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="libraries">Select from 1 to 100 the importance of libraries:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="libraries" name="libraries" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="foreigner_student">Select from 1 to 100 the importance to presence of international students:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="foreigner_student" name="foreigner_student" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="special_student">Select from 1 to 100 the importance to presence of students with special needs:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="special_student" name="special_student" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <span class="title-type">Security</span>
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="accidentes">Select from 1 to 100 the importance of road safety:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="accidentes" name="accidentes" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="detenidos">Select from 1 to 100 the importance presence of arrested people:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="detenidos" name="detenidos" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="policia">Select from 1 to 100 the importance of interventions of the police in the area:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="policia" name="policia" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <span class="title-type">Population and general services</span>
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="total_population">Select from 1 to 100 the importance of total population (the more importance the higher the population):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="total_population" name="total_population" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="density">Select from 1 to 100 the importance of density (hab/m2) (the more importance the lower the density):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="density" name="density" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="women">Select from 1 to 100 the importance to presence of women:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="women" name="women" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="foreigners">Select from 1 to 100 the importance to presence of foreigners:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="foreigners" name="foreigners" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="young">Select from 1 to 100 the importance to presence of young people:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="young" name="young" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="highEduc">Select from 1 to 100 the importance to presence of people with high education:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="highEduc" name="highEduc" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="sport_greenareas">Select from 1 to 100 the importance to presence of sport facilities and green areas:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="sport_greenareas" name="sport_greenareas" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="espectaculos">Select from 1 to 100 the importance to presence of cultural spaces and shows:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="espectaculos" name="espectaculos" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="residuos">Select from 1 to 100 the importance of garbage collection services:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="residuos" name="residuos" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="vulnerabilidad">Select from 1 to 100 the importance to position in vulnerability ranking:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="vulnerabilidad" name="vulnerabilidad" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <span class="title-type">Real estate market</span>
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="añoConstruccion">Select from 1 to 100 the importance to year of construction of houses:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="añoConstruccion" name="añoConstruccion" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="good_houses">Select from 1 to 100 the importance of the quality status of houses:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="good_houses" name="good_houses" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="houses">Select from 1 to 100 the importance to presence of houses per inhabitant:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="houses" name="houses" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="size">Select from 1 to 100 the importance to size of houses (m2, rooms, baths):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="size" name="size" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="general_features">Select from 1 to 100 the importance to quality of general features (lift, parking space, low flat if applies):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="general_features" name="general_features" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="new_development">Select from 1 to 100 the importance to presence of houses of new development:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="new_development" name="new_development" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="price">Select from 1 to 100 the importance of price of houses (total and per m2):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="price" name="price" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="chalets">Select from 1 to 100 the importance to presence of chalet (if low, flats and similar are benefited):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="chalets" name="chalets" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <span class="title-type">Health</span>
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="centros">Select from 1 to 100 the importance to presence of clinics, hospitals:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="centros" name="centros" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="mayores">Select from 1 to 100 the importance to presence of social services, nursing homes and home assistants:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="mayores" name="mayores" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="otherCentros">Select from 1 to 100 the importance to presence of other specialized centers (drugs detox, Alzheimer...):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="otherCentros" name="otherCentros" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <span class="title-type">Transport</span>
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="bicis">Select from 1 to 100 the importance to biciMad service (bikes, stops):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="bicis" name="bicis" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="metro">Select from 1 to 100 the importance to presence of public transport stops (metro):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="metro" name="metro" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <span class="title-type">Economic dynamism</span>
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="paro">Select from 1 to 100 the importance to presence of people without work:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="paro" name="paro" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="pension">Select from 1 to 100 the importance to quality of pensioners (average income):</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="pension" name="pension" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="renta">Select from 1 to 100 the importance to average income:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="renta" name="renta" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <div class="slider-container">
                <div class="question-item question-label">
                    <label for="locales">Select from 1 to 100 the importance to presence of commercial premises:</label>
                </div>
                <div class="question-item slider-wrapper">
                    <input type="range" id="locales" name="locales" min="0" max="10" required>
                    <span class="value-left">0</span>
                    <span class="value-middle">5</span>
                    <span class="value-right">10</span>
                </div>
            </div>
            
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </div>

    <footer class="main-footer">
        <div class="main-footer-container">
            <div class="footer-text">Read the documentation</div>
            <a href="https://www.github.com">
                <img class="logo-footer" src="../static/logoGithub.png" alt="Logo" class="footer-logo">
            </a>
        </div>
    </footer>
</body>
</html>

