<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Importance</title>
</head>
<body>
    <h2>Select Importance</h2>
    <form action="/final_results" method="post">
        <label for="private_education">Select from 1 to 100 the importance of private education:</label>
        <input type="number" id="private_education" name="private_education" min="1" max="100" required><br><br>

        <label for="public_education">Select from 1 to 100 the importance of public education:</label>
        <input type="number" id="public_education" name="public_education" min="1" max="100" required><br><br>

        <label for="libraries">Select from 1 to 100 the importance of libraries:</label>
        <input type="number" id="libraries" name="libraries" min="1" max="100" required><br><br>

        <label for="activities_education">Select from 1 to 100 the importance of extra activities at school:</label>
        <input type="number" id="activities_education" name="activities_education" min="1" max="100" required><br><br>




        <label for="air_quality">Select from 1 to 100 the importance of air quality:</label>
        <input type="number" id="air_quality" name="air_quality" min="1" max="100" required><br><br>

        <label for="temperature">Select from 1 to 100 the importance of temperature (the more importance the higher the temperature):</label>
        <input type="number" id="temperature" name="temperature" min="1" max="100" required><br><br>

        <label for="solar_radiation">Select from 1 to 100 the importance of solar radiation:</label>
        <input type="number" id="solar_radiation" name="solar_radiation" min="1" max="100" required><br><br>

        <label for="rain">Select from 1 to 100 the importance of rains (the more importance the lower the rains):</label>
        <input type="number" id="rain" name="rain" min="1" max="100" required><br><br>




        <label for="total_population">Select from 1 to 100 the importance of total population (the more importance the higher the population):</label>
        <input type="number" id="total_population" name="total_population" min="1" max="100" required><br><br>

        <label for="density">Select from 1 to 100 the importance of density (hab/m2) (the more importance the lower the density):</label>
        <input type="number" id="density" name="density" min="1" max="100" required><br><br>

        <label for="average_age">Select from 1 to 100 the importance of average age (the more importance the lower the age):</label>
        <input type="number" id="average_age" name="average_age" min="1" max="100" required><br><br>

        <label for="foreigners">Select from 1 to 100 the importance to presence of foreigners:</label>
        <input type="number" id="foreigners" name="foreigners" min="1" max="100" required><br><br>

        <label for="young">Select from 1 to 100 the importance to presence of young people:</label>
        <input type="number" id="young" name="young" min="1" max="100" required><br><br>

        <label for="highEduc">Select from 1 to 100 the importance to presence of people with high education:</label>
        <input type="number" id="highEduc" name="highEduc" min="1" max="100" required><br><br>




        <label for="servicios_generales">Select from 1 to 100 the importance to general services (cultural spaces, museums, oil stations...):</label>
        <input type="number" id="servicios_generales" name="servicios_generales" min="1" max="100" required><br><br>




        <label for="familiar_houses">Select from 1 to 100 the importance to presence of familiar houses (total number, antiquity and size):</label>
        <input type="number" id="familiar_houses" name="familiar_houses" min="1" max="100" required><br><br>

        <label for="urban_units">Select from 1 to 100 the importance to presence urban residential units:</label>
        <input type="number" id="urban_units" name="urban_units" min="1" max="100" required><br><br>

        <label for="oneToThree">Select from 1 to 100 the importance to presence of houses from 1 to 3 people of capacity:</label>
        <input type="number" id="oneToThree" name="oneToThree" min="1" max="100" required><br><br>

        <label for="fourMore">Select from 1 to 100 the importance to presence of houses for more than 4 people of capacity:</label>
        <input type="number" id="fourMore" name="fourMore" min="1" max="100" required><br><br>

        <label for="size">Select from 1 to 100 the importance to size of houses (m2, rooms, baths):</label>
        <input type="number" id="size" name="size" min="1" max="100" required><br><br>

        <label for="general_features">Select from 1 to 100 the importance to quality of general features (lift, parking space, low flat if applies):</label>
        <input type="number" id="general_features" name="general_features" min="1" max="100" required><br><br>

        <label for="new_development">Select from 1 to 100 the importance to presence of houses of new development:</label>
        <input type="number" id="new_development" name="new_development" min="1" max="100" required><br><br>

        <label for="price">Select from 1 to 100 the importance of price of houses (total and per m2):</label>
        <input type="number" id="price" name="price" min="1" max="100" required><br><br>

        <label for="chalets">Select from 1 to 100 the importance to presence of chalet (if low, flats and similar are benefited):</label>
        <input type="number" id="chalets" name="chalets" min="1" max="100" required><br><br>




        <label for="centros">Select from 1 to 100 the importance to presence of clincs, hospitals:</label>
        <input type="number" id="centros" name="centros" min="1" max="100" required><br><br>

        <label for="pharmacy">Select from 1 to 100 the importance to presence of pharmacies:</label>
        <input type="number" id="pharmacy" name="pharmacy" min="1" max="100" required><br><br>

        <label for="otherCentros">Select from 1 to 100 the importance to presence of other specialized centers (dental clinics for instance):</label>
        <input type="number" id="otherCentros" name="otherCentros" min="1" max="100" required><br><br>




        <label for="distance">Select from 1 to 100 the importance to distance to city center:</label>
        <input type="number" id="distance" name="distance" min="1" max="100" required><br><br>

        <label for="vehicles">Select from 1 to 100 the importance to presence of transport vehicles (buses, taxis):</label>
        <input type="number" id="vehicles" name="vehicles" min="1" max="100" required><br><br>

        <label for="stations">Select from 1 to 100 the importance to presence of public transport stops (metro, bus, cercanias):</label>
        <input type="number" id="stations" name="stations" min="1" max="100" required><br><br>





        <label for="trabajadoresZona">Select from 1 to 100 the importance to presence of workers:</label>
        <input type="number" id="trabajadoresZona" name="trabajadoresZona" min="1" max="100" required><br><br>

        <label for="paro">Select from 1 to 100 the importance to presence of people without work:</label>
        <input type="number" id="paro" name="paro" min="1" max="100" required><br><br>

        <label for="workRatio">Select from 1 to 100 the importance to presence of percentage of people working:</label>
        <input type="number" id="workRatio" name="workRatio" min="1" max="100" required><br><br>

        <label for="pension">Select from 1 to 100 the importance to presence of pensioners (the more importance the lower the amount of pensioners):</label>
        <input type="number" id="pension" name="pension" min="1" max="100" required><br><br>

        <label for="renta">Select from 1 to 100 the importance to average income:</label>
        <input type="number" id="renta" name="renta" min="1" max="100" required><br><br>

        <label for="organizations">Select from 1 to 100 the importance to presence of working organizations:</label>
        <input type="number" id="organizations" name="organizations" min="1" max="100" required><br><br>

        <label for="funcionarios">Select from 1 to 100 the importance to presence of civil servants:</label>
        <input type="number" id="funcionarios" name="funcionarios" min="1" max="100" required><br><br>   

        <input type="submit" value="Submit">
    </form>
</body>
</html>
